body{
    margin: 10px;
}
.grid-container{
    background-color: gray;
    border: solid 2px black;
    display: grid;
    /* grid-template: repeat(3, auto) / repeat(3,auto);
    grid-template-areas: "cabecalho cabecalho cabecalho"
                         "sidebar conteudo-principal conteudo-principal"
                         "footer footer footer2"
    ;
    gap: 5px 50px; */
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-template-columns: repeat(5,150px);
    grid-template-rows: 500px;
    justify-content: center;
    align-items: flex-end;
}
.grid-item{
    background-color: rgb(68, 68, 193);
    border: solid 2px rgb(66, 183, 83);
    font-size: 24px;
    font-weight: 900;
    padding: 10px;
}

.start{
    align-self: flex-start;
    justify-self: flex-start;
}
.center{
    justify-self: center;
}
.end{
    align-self: center;
    justify-self: flex-end;
}


.header{
    grid-area: cabecalho;
    padding: 40px 0;
}
.sidebar{
    grid-area: sidebar;
    padding: 0 40px;
}
.conteudo-principal{
    grid-area: conteudo-principal;
}
.footer{
    grid-area: footer;
    padding: 40px 0;
}
.footer2{
    grid-area: footer2;
}